{% extends 'new/index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block excel_list %}

<div >
        <table style="margin-left:260px; margin-top:100px" class='table'>
          <thead>
            <tr>
              <th>COUNT</th>
              <th>DATE</th>
              <th>CUSTOMER NAME</th>
              <th>INVOICE Number</th>
              <th>Total</th>
              <th>Discount</th>
              <th>Balance_Due</th>
              <th>Delete</th>
            </tr>
          </thead>
        {% for instance in excelQuerySet %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{instance.Date}}</td>
              <td><a href="{% url 'excel_data_update' instance.id %}">{{instance.Contact_Name}}</a></td>
              <td>{{instance.Invoice_Number}}</td>
              <td>{{instance.Total}}</td>
              <td>{{instance.Discount}}</td>
              <td>{{instance.Balance_Due}}</td>
              <td><a href="{% url 'excel_data_delete' instance.id %}">Delete</a></td>
            </tr>
        {% endfor %}
      </table>
    <br>

</div>

{% endblock excel_list %}
